.colors
  display flex
  flex-grow 1
  margin-bottom .7em
  &-options
    display flex
  input[type="radio"]
    display none
  input[id="red"]:checked
    & ~ div [for="red"]
      border 2px solid var(--softBlue)
      transform scale(.85)
  input[id="amber"]:checked
    & ~ div [for="amber"]
      border 2px solid var(--softBlue)
      transform scale(.85)
  input[id="green"]:checked
    & ~ div [for="green"]
      border 2px solid var(--softBlue)
      transform scale(.85)
  &-option
    height 40px
    width 40px
    margin-right 2em
    border-radius .5em
    transition .1s all
    &:hover
      cursor pointer
    &:active
    &:hover
      opacity .8
    &:active
      transform scale(.9)
    &.is-red
      color var(--red)
      background var(--red)
    &.is-amber
      color var(--amber)
      background var(--amber)
    &.is-green
      color var(--green)
      background var(--green)
    &.is-selected
      border 1px solid var(--softBlue)
      transform scale(.85)