@import './scroll-bar.styl'
@import './entry-task.styl'
@import './tasks.styl'
@import './footer.styl'

:root
  --softBlue hsl(231, 69%, 60%)
  --grayishBlue hsl(229, 8%, 60%)
  --veryDarkBlue hsl(229, 31%, 21%)
  --amber #ffc107
  --green #4caf50
  --red #e53935
  --ligthCyan #e0ffff


body
  font-family 'Rubik', sans-serif
  background var(--veryDarkBlue)
  color var(--ligthCyan)
  font-size 12px
  letter-spacing 1px

.u-h1
  font-size 2em
  font-weight 500
.u-h2
  @extends .u-h1
  font-size 1.7em
.u-h3
  @extends .u-h1
  font-size 1.4em
  margin-top .5em
.u-h4
  @extends .u-h1
  font-size 1.2em
  margin-top .5em
.u-h5
  @extends .u-h1
  font-size 1em
  margin-top .5em
.u-h6
  @extends .u-h1
  font-size .9em
  margin-top .5em
.u-p
  color var(--grayishBlue)
  line-height: 1.8
  font-size .9em
ul
  padding: 0
  list-style none
  margin 0

a
  color var(--grayishBlue)
  transition .3s all
  &:hover
    color var(--ligthCyan)

.u-wrapper
  min-width: 290px
  max-width 1280px
  margin auto
  padding 0 1em
.u-wrapper-md
  @extends .u-wrapper
  max-width 800px

.is-hidden
  display none

.u-button
  background var(--softBlue)
  color white
  padding 1em
  font-size 1em
  font-weight 600
  border-radius .5em
  margin-left .5em
  border none
  cursor pointer
  text-transform uppercase
  -webkit-appearance none
  box-shadow 0 5px 10px -5px var(--softBlue)
  transition: .1s all
  &:first-of-type
    margin 0
  &.is-outlined
    background transparent
    box-shadow none
    border 1px solid var(--ligthCyan)
    border-radius: 50%
  &.is-red
    color white
    background var(--red)
  &.is-gray
    color var(--veryDarkBlue)
    background #f7f7f7
  &.is-fullWidth
    width 100%
  &.with-icon
    display flex
    justify-content center
    align-items center
    img
      width 20px
  &.is-small
    img
      width 1.2em
  &.is-large
    padding 1em 3em
  &:focus
    outline none
  &:active
  &:hover
    opacity .8
  &:active
    transform scale(.9)

@media screen and (max-width: 460px)
  .u-wrapper-md
    padding 0 .5em
    min-width 320px
  .u-h4
    font-size 1em
  .u-button
    &.is-outlined
      padding .6em
      border none
    &.is-small
      img
        width .9em
        height  .9em
