.tasks
  margin 1.2em 0
  &-container
    overflow auto
    padding 0
    list-style: none
    height: calc(100vh - 356px)
    &.is-empty
      display flex
      justify-content center
      align-items center
  &-dates
    display block
  &-item
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
    margin .2em 0
    padding .7em
    display flex
    justify-content space-between
    border-radius .5em
    transition .5s all
    &.is-red
      background var(--red)
      color var(--ligthCyan)
    &.is-amber
      background var(--amber)
      color var(--ligthCyan)
    &.is-green
      background var(--green)
      color var(--ligthCyan)
  &-info
    width 100%
    display flex
    margin-right 1em
    align-items center
    justify-content space-between
  &-name
    margin-top 0 !important
    display block
  &-label
    display block
  &-finish-label
    display block
  &-finish-timer
    margin-top 0 !important
    display block
  @media screen and (max-width: 460px)
    &-dates
      font-size .7em
